<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 引入jdbc配置文件 -->
    <!--
     <context:property-placeholder location="classpath*:resources/config/jdbc.properties"/>
    -->

    <!-- 扫描文件（自动将service层注入） -->
    <!--
    <context:component-scan base-package="com.cf.mamahome.business" />
  -->
    <context:annotation-config/>


    <import resource="classpath*:resources/config/spring-quartz.xml"/>

    <!--<import resource="classpath*:resources/config/mybatis-*.xml" />-->


</beans>